// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #3342de;
$yellow: rgb(247,179,43);
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$vera-orange: rgb(247,179,43);
$otmBlack: rgb(030,030,030);
