<div class="main bg-image" style="background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.43), rgba(255, 255, 255, 0.96), rgb(255, 255, 255)), url('<%= cl_image_path("banner-otm_tuakfl", :height=>800, :width=>1440) %>');">
  <div class="text-center">
    <h1>Edit <%= @band.name %> here!</h1>
  </div>

<div class="container mt-5">
  <%= render 'form' %>
</div>

</div>
