<% @users.each do |user| %>

<div class="musician-card">


  <div class="musician-pic" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @user.photo.key, height: 230, crop: :fill %>')">

  </div>
   <div class="card-row">
    <p>nickname:</p>
    <p><%= user.username %></p>
  </div>
  <hr class="no-margin">
  <div class="card-row">
    <p>age:</p>
    <p>user.birthday</p>
  </div>
  <hr class="no-margin">
  <div class="card-row">
    <p>instruments:</p>
    <p>drums, trumpet </p>
  </div>
  <hr class="no-margin">
    <div class="card-row">
    <p>city:</p>
    <p>user.city</p>
  </div>

</div>

<% end %>

