<div class="container">
<div class="cards">

<% @bands.each do |band| %>



  <div class="musician-card">
    <% if band.photo.attached? %>
      <div class="musician-pic" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path band.photo.key, height: 230, crop: :fill %>')">
    <% else %>
      <div class="musician-pic" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url('<%= cl_image_path("a6fac407-95ce-4d45-b360-8330205ce210_l_svdjab", :height=>230, :gravity=>"west", :crop=>"fill") %>')">
    <% end %>
    </div>
     <div class="card-row">
      <p>name:</p>
      <p><%= band.name %></p>
    </div>
    <hr class="no-margin">
    <div class="card-row">
      <p>genre:</p>
      <p><%= band.genre.name %></p>
    </div>
    <hr class="no-margin">
    <div class="card-row">
      <p>need sub for:</p>
      <p>drums</p>
    </div>
    <hr class="no-margin">
      <div class="card-row">
      <p>period:</p>
      <p>July 2020</p>
    </div>
  </div>


<% end %>

</div>
</div>

