

<div class="musician-card">
  <div class="musician-pic"></div>
   <div class="card-row">
    <p>nickname:</p>
    <p><%= band.name %></p>
  </div>
  <hr class="no-margin">
  <div class="card-row">
    <p>age:</p>
    <p>28</p>
  </div>
  <hr class="no-margin">
  <div class="card-row">
    <p>instruments:</p>
    <p>drums, trumpet </p>
  </div>
  <hr class="no-margin">
    <div class="card-row">
    <p>city:</p>
    <p>Hamburg</p>
  </div>

</div>



<ul>
  <% @bands.each do |band| %>
  <li><%= band.name %></li>
  <% end %>
</ul>
