.otm-bg {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: fixed;
  margin-bottom: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;


    .otm-bg-Headline {
    padding: 20px 0;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

}
