.btn {
  font-weight: 500;
  border-radius: 5px;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: #8BBABB;
  border-color: #8BBABB;
  &:active,
  &:focus,
  &:hover {
    background-color: darken(#8BBABB, 7.5%) !important;
    border-color: darken(#8BBABB, 7.5%) !important;
    color: white;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55,.5) !important;
  }

  .outline{
    background-color: white;
    color: #8BBABB;
  }

}

 .btn-primary-outline{
    background-color: white;
    color: #8BBABB;
    border-color: darken(#8BBABB, 7.5%) !important;
    &:hover{
       color: darken(#8BBABB, 12%) !important;
    }

  }


